/* @import "@/assets/vendor/bootstrap/bootstrap.min.css"; */

        /* <!-- FAVICON --; */
        /* @import "@/assets/images/favicon.png"; */

        /* FONTS  */
       @import "@/assets/fonts/flaticon/flaticon.css";
       @import "@/assets/fonts/icofont/icofont.min.css";
       @import "@/assets/fonts/fontawesome/fontawesome.min.css";

        /* <!-- VENDOR --; */
       @import "@/assets/vendor/venobox/venobox.min.css";
       @import "@/assets/vendor/bootstrap/bootstrap.min.css";

        /* <!-- CUSTOM --; */
       @import "@/assets/css/main.css";
       @import "@/assets/css/home-standard.css";
       @import "@/assets/css/blog-details.css";
       @import "@/assets/css/user-auth.css";
       @import "@/assets/css/profile.css";
       @import "@/assets/css/orderlist.css";


       @import "element-plus/dist/index.css";
       @import "nprogress/nprogress.css";

#nprogress .bar {
    background: #ff0000 !important;
    padding: 0 10px !important;
    height: 4px !important;
}

 #nprogress .spinner .spinner-icon {
    border-top-color: #ff0000 !important;
    border-left-color: #ff0000 !important;
 }